@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F7FA ;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color:#EEF2F6 ;
  font-family:'Times New Roman', Times, serif;
}
